* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 2rem; */
    background-color: #f180b5;
}

.logo {
    max-width: 150px;
}

.SearchBar{
    display: flex;
    padding: 0 50px;
    border: none;
    width: 30%;

}



.SearchBar-button{
    background-color: #ffa0d6;
    border: none;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    width: 40px;
    height: 30px;
}

fieldset input{
    border-radius: 0;
    display: block;
    width: 95%;
    border-left: #f180b5;
    margin: 10px;
}

/*Quitar flechas de input numerico*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;

}

.button{
    background-color: #f180b5;
    border-radius: 50px;
    border: none;
    width: 25%;
    height: 35px;
    margin: 10px;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;   
    font-size: large;
}


.button:active{
    background-color: #da5191;
}

input {
    padding: 10px;
    width: 400px;
    background-color: #fafbfd;
    border: none;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    height: 30px;
}
.SearchBar img{
    width: 20px;
}

.SearchBar-admin{
    display: flex;
    border: none;
    width: 50%;
    margin: auto;
   
    
}


.SearchBar-admin button{
    background-color: #ffa0d6;
    border: none;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    width: 50px;
    height: 30px;
}

.SearchBar-admin img{
    width: 20px;
}

a {
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 7px 15px;
    margin: 5px;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;   
    font-size: large;
}

body{
    background-color: #131316;
}

table{
    color: #fafbfd;
    width: 100%;
}

.btnTabla{
    background-color: #f180b5;
    border-radius: 15px;
    width: 60px;
    border: none;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;   
    font-size: large;
}

.btnTabla:active{
    background-color: #da5191;
}

th{
    background-color: #ffa0d6;
    padding: 5px;
}


tr:nth-child(2n){
    background-color: #696969;
}

.Productos{
    padding-top: 25px;
}
.Productos div{
    padding: 10px;
}

.Productos h3{
    color: #fafbfd;
}

fieldset{
    width: 95%;
    margin: auto;
}

legend{
    color: #fafbfd;
    font-family: sans-serif;
    letter-spacing: 2px;
    font-weight: bolder;
}


.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-list li a {
    text-decoration: none;
    color: #1c1c1c;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}
.nav-list .SearchBar-text .SearchBar-button{
    display: none;
}

.nav-list-marca {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-list-marca li a {
    text-decoration: none;
    color: #1c1c1c;
}

.nav-list .marcas, .Search{
    display: none;
}


@media  screen and (max-width: 845px) {
    .SearchBar{
        display: none;
    }
    
}

@media screen and (max-width: 845px) {

    
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: #1c1c1c;
        padding-right: 10px;
    }

    .cerrar-menu {
        color: #ffa0d6;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    
    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        color: #ffa0d6;
        
    }
    
    .nav-list .Search{
        display: flex;
        padding: 0;
        border: none;
        

    }
    .Search-button{
        background-color: #ffa0d6;
        border: none;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
        width: 40px;
        height: 30px;
    }
    
    .Search input{
        
        width: 85%;
        background-color: #fafbfd;
        border: none;
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
        height: 30px;
    }

    .Search img{
        width: 20px;
    }

    .button{
        background-color: #f180b5;
        border-radius: 50px;
        border: none;
        width: 23%;
        height: 35px;
        margin: 10px;
        font-family: "Dosis", sans-serif;
        font-optical-sizing: auto;
        font-weight: 100;
        font-style: normal;   
        font-size: medium;
    }

}

