* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f180b5;
    width: 100%;
}
a {
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 7px 15px;
    margin: 5px;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;   
    font-size: large;
}

body{
    background-color: #131316;
    
}

footer{
    background-color: #d0d0d0;
    width: 100%;
    margin-top: 300px;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;   
    font-size: x-large;
    color: #c12e72;
}



footer img{
    width: 25px;
}

.logo {
    max-width: 150px;
}

.SearchBar{
    display: flex;
    padding: 0 50px;
    border: none;
    width: 30%;

}

.SearchBar-button{
    background-color: #ffa0d6;
    border: none;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    width: 60px;
}

.SearchBar-button:active{
    background-color: #da5191;
}

.Productos-inicio{
    margin-bottom: 150px;
}

.product{
    background-color: #f6f6f6;
    border: none;
    border-radius: 20px;
    width: 25%;
    height: 150px;
    margin: 15px;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;   
    font-size: x-large;
    display: inline-flex;
}


.product .titulo{
    color: #da5191;
    font-weight: bold;
    width: auto;
    margin: 10px;
    margin-left: 5%;

}

.product .precioPeso, .precioDolar{
    margin-top: 50px;
    margin-left: 5%;
    padding: 2%;
    font-size: medium;
    position: relative;
    bottom: -20%;
    left: -35%;
    
}

.product .precioPeso{
    color: #c12e72;
    font-size: 20px;
    font-weight: bold;
}

fieldset input{
    border-radius: 5px;
    display: block;
    width: 95%;
    border-left: #f180b5;
    margin: 10px;
}

/*Quitar flechas de input numerico*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;

}

.button{
    background-color: #f180b5;
    border-radius: 50px;
    border: none;
    width: 15%;
    height: 35px;
    margin: 10px;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;   
    font-size: large;

}


.button:active{
    background-color: #da5191;
}

input {
    padding: 10px;
    width: 400px;
    background-color: #fafbfd;
    border: none;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    height: 30px;
}
.SearchBar img{
    width: 20px;
}



table{
    color: #fafbfd;
    width: 100%;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;   
    font-size: large;
}

.btnTabla{
    background-color: #f180b5;
    border-radius: 15px;
    width: 60px;
    border: none;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;   
    font-size: large;
}

.btnTabla:active{
    background-color: #da5191;
}

th{
    background-color: #ffa0d6;
    padding: 5px;
}


tr:nth-child(2n){
    background-color: #696969;
}

td:nth-child(n + 3){
    text-align: right;
}

fieldset{
    width: 95%;
    margin: auto;
    border-color: grey;
    border-radius: 15px;
}

legend{
    color: #fafbfd;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;   
    font-size: large;
    letter-spacing: 2px;
    font-weight: bolder;
}



.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-list li a {
    text-decoration: none;
    color: #1c1c1c;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}
.nav-list .SearchBar-text .SearchBar-button{
    display: none;
}


.nav-list .marcas, .Search{
    display: none;
}

.navAdmin ul, a{
    list-style-type: none;
    color: #1c1c1c;
}

.contacto{
    margin: 5px;
}

.contacto ul{
    list-style-type: none;
    margin: 10px;
}

.contacto li{
    margin: 5px;
}

.copyright{
    background-color: #f180b5;
    color:#f6f6f6;
}




@media screen and (max-width: 641px) {


    .SearchBar{
        display: none;
    }
    
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: #1c1c1c;
        padding-right: 10px;
    }

    .cerrar-menu {
        color: #ffa0d6;
    }

    .nav {
        opacity: 1;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    
    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        color: #ffa0d6;
        
    }
    
    .nav-list .Search{
        display: flex;
        padding: 0;
        border: none;
        

    }
    .Search-button{
        background-color: #ffa0d6;
        border: none;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
        width: 40px;
        height: 30px;
    }

    .Search-button:active{
        background-color: #da5191;
    }
    
    .Search input{
        
        width: 85%;
        background-color: #fafbfd;
        border: none;
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
        height: 30px;
    }

    .Search img{
        width: 20px;
    }

    .button{
        background-color: #f180b5;
        border-radius: 50px;
        border: none;
        width: 23%;
        height: 45px;
        margin: 10px;
        display: inline-flex;
        font-family: "Dosis", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;   
        font-size: large;
        
    }

    .product{
        width: 40%;
        flex-wrap: wrap;

    }


    .product .precioPeso, .precioDolar{
        position: static;
        margin: 0;
        margin-left: 5px;
    }
}